.quote {
    padding: 50px 0;
    background-color: $color-black;

    .quote__content {
        text-align: center;
        color: $color-white;
        font-size: rem(19px);
        line-height: rem(25px);
        letter-spacing: 2px;

        &::before {
            display: block;
            position: relative;
            width: 100%;
            height: 0.5px;
            background-color: $color-white;
            content: "";
        }

        &::after {
            display: block;
            position: relative;
            width: 100%;
            height: 0.5px;
            background-color: $color-white;
            content: "";
        }
    }
}

@include viewport(mw){
    .quote {
    
        .quote__content {
            font-size: rem(26px);
            line-height: rem(35px);
            letter-spacing: 6px;
    
            &::before {
                margin-bottom: 10px;
            }
    
            &::after {
                margin-top: 10px;
            }
        }
    }    
}

@include viewport(lw){
    .quote {
    
        .quote__content {
            font-size: rem(30px);
            line-height: rem(37px);
            letter-spacing: 9px;
    
            &::before {
                margin-bottom: 15px;
            }
    
            &::after {
                margin-top: 15px;
            }
        }
    }    
}